.left a,
nav ul li a,
.right img{
    transition:.4s;
}

.right img:hover{
    transform:scale(1.05);
}

.left a:hover{
    box-shadow:0 0 20px #38bdf8;
}

.logo{
    animation:glow 3s infinite;
}

@keyframes glow{

0%{
opacity:.7;
}

50%{
opacity:1;
}

100%{
opacity:.7;
}

}/* Button Animation */

.left a{
    transition:0.4s;
}

.left a:hover{
    transform:translateY(-5px);
    box-shadow:0 0 20px #38bdf8;
}

/* Navigation */

nav ul li a{
    transition:0.3s;
}

/* Profile Image */

.right img{

    transition:0.5s;

}

.right img:hover{

    transform:scale(1.05);

    box-shadow:0 0 40px #38bdf8;

}

/* Logo Glow */

.logo{

    animation:glow 3s infinite;

}

@keyframes glow{

0%{
opacity:.7;
}

50%{
opacity:1;
}

100%{
opacity:.7;
}

}

/* Section Animation */

section{

    opacity:0;

    transform:translateY(60px);

    transition:1s ease;

}

/* Active Section */

section.active{

    opacity:1;

    transform:translateY(0);

}